<footer>
    <div class="container">
        <p>
            Copyright@{{@blog.title}}. All rights reserved.<br/>
            Theme created by <a href="http://www.arttechresearch.com" target="_blank">ATR</a>.
        </p>
    </div>
</footer>
